---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ContactForm from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Contactează-ne - Health Academy">
  <Header />
  <main>
    <HeroSection 
      title="Contactează-ne" 
      description="Suntem aici să te ajutăm!"
    />
    <ContactForm />
  </main>
  <Footer />
</Layout> 
